@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.header{
    height: 70px;
    background-color: #f0ebeb;

}

.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #C62831;
    padding: 5px 5%;

}

.header nav > div{
    display: flex;
    align-items: center;
}

.header nav div .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header nav div .logo img{
    height: 60px;
}

.header nav div .menu-link{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header nav div .menu-link a{
    text-decoration: none;
    color: #ffffff80;
    font-weight: 300;
    font-size: 16px;
    padding: 0 13px;
}

.header nav div .menu-link a:hover{
    color: #fff;
}
.header nav div .menu-link a:first-child{
    color: #fff;
}

.header nav div .search-shop{
    display: flex;
    align-items: center;
    padding-right: 25px;
    color: #fff;
}

.header nav div .search-shop span{
    font-size: 16px;
    font-weight: 300;
}

.header nav div .search-shop svg{
    width: 24px;
    margin-right: 8px;
}

.header nav div .languages{
    color: #fff;
    font-weight: 300;
}

.header nav div .languages .live{
    font-weight: 600;
}
.body{
    height: 600px;
    padding: 50px;
    width: 100%;
    background-color: rgb(225, 241, 241);
    display: flex;
}
.section-coffe{
    width: 55%;
    padding: 55px;
}
.section-coffe img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius:10px ;
}
.accout-aside{
    margin: 100px 0;
    text-align: center;
   
}

 

.accout-aside h1{
    font-size: 40px;
    width:500px;
    
}
aside{
   display: flex;
   align-items: center;
   justify-content: center;

}
form{
    display: flex;
    flex-direction: column;

   
}
form > div{
    padding: 8px 0;
}
label{ 
display: block;
text-align: left;
}
.place{
    border: 1.2px solid #ccc;
    outline: none;
    margin: 5px 0;
    width: 100%;
    background-color: #dbdbdb;
    border-radius: 999px;
    padding: 10px 15px;
}

.button-in1 {
    width: 50%;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 10px 30px;
    color: #fff;
    background-color: #3b3535;
    margin: 25px 127px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 999px;
 
}
.button-in1:hover{
    background-color: #C62831;
}

 form h6{
    margin-top: 10px;
    font-size: 10px;
    color: gray;
}
form h5{
    margin-left: 5px;
    margin-top: 10px;
    
color: rgb(4, 73, 4);
} 
.login-other{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.button-in2{
    font-size: 14px;
    color: #7e7979;
    background-color: #ffffff;
    width: 49%;
    padding: 10px 30px;
    text-align: center;
    border-radius: 24px;
    border :1px solid rgb(185, 185, 185)
}

.button-in2:hover{
   background-color: #C62831; 
}
.button-in3{
    
    font-size: 14px;
    color: #7e7979;
    background-color: #ffffff;
    width: 49%;
    padding: 10px 30px;
    text-align: center;
    border-radius: 24px;
    border :1px solid rgb(185, 185, 185)
    
}
.button-in3:hover{
    background-color: #C62831; 
 }
 

